
@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

p { color: rgba(32, 32, 28, 0.952);}
  
html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      font-family: "Times New Roman", Times, serif;
      color: rgba(32, 32, 28, 0.952);
      margin-top: 15px;
      text-align: center;
  }

  /* div {
    background-color: #eab5c9;
    border-radius: 25px;
    padding: 1.5%;
    
  } */
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
          
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  @media (min-width: 720px) {

  }
  
  


@media (max-width: 500px) {
    /* … */
  }


     /* Smartphones (portrait and landscape) ----------- */
     @media only screen 
     and (min-device-width : 320px) 
     and (max-device-width : 480px) {
        .summary-section{

        }
        h2 {
            margin: 42%;
            font-size: large;
        }
     
        body > main > div.portrait-section > img[id='portrait-img'] {
            width: 5%;
            height: 5%;
    }
     /* Styles */
     }
 
     /* Smartphones (landscape) ----------- */
     @media only screen 
     and (min-width : 321px) {
        body > main > div.portrait-section > img[id='portrait-img'] {
            width: 5%;
            height: 5%;
    }
     /* Styles */
     }
 
     /* Smartphones (portrait) ----------- */
     @media only screen 
     and (max-width : 320px) {
        body > main > div.portrait-section > img[id='portrait-img'] {
            width: 5%;
            height: 5%;
    }
     /* Styles */
     }
 
     /* Tablet (portrait and landscape) ----------- */
     @media only screen 
     and (min-device-width : 768px) 
     and (max-device-width : 1024px) {
        body > main > div.portrait-section > img[id='portrait-img'] {
            width: 5%;
            height: 5%;
    }
         }
     
         /* Tablet (portrait) ----------- */
         @media only screen 
         and (min-device-width : 768px) 
         and (max-device-width : 1024px) 
         and (orientation : portrait) {
         /* Styles */
         body > main > div.portrait-section > img[id='portrait-img'] {
            width: 5%;
            height: 5%;
    }
         }
     
         /* Tablet (portrait) ----------- */
         @media only screen 
         and (min-device-width : 768px) 
         and (max-device-width : 1024px) 
         and (orientation : portrait) {
         /* Styles */
         body > main > div.portrait-section > img[id='portrait-img'] {
            width: 5%;
            height: 5%;
    }
         }
     
         /* Desktops and laptops ----------- */
         @media only screen 
         and (min-width : 1224px) {
         /* Styles */
         .summary-section {
            max-width: 500px;
            margin-left: 40%;
            margin-top: 15px;
            text-align: center;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
        }
    
        .resume-section {
            max-width: 500px;
            margin-left: 40%;
            color: rgba(32, 32, 28, 0.952);
            margin-top: 15px;
            text-align: center;
        }
        
        
        .in-line-logos {
            width: 5px;
            border-radius: 100%;
            display: inline;
            margin-top: 1%;
        }
    
        .profile-section {
            text-align: left;
            width: 450px;
            height: 568px;
            margin-left: 50px;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 5.5%;
            float: left;
        }
    
    
        #portrait-img {
            border: 0px solid #ddd;
            width: 350px;
            display: block;
        }
    
        .right-skill-section {
            display: inline;
        }
    
        .left-skill-section {
            display: inline;
        }
    
        body > main > div.profile-section > div > a:nth-child(1) > img {
            width: 50px;
            border-radius: 100%;
            display: inline;
        }
    
        body > main > div.profile-section > div > a:nth-child(2) > img {
            width: 50px;
            border-radius: 100%;
            display: inline;
        }
    
        body > main > div.profile-section > div > a:nth-child(3) > img {
            width: 50px;
            border-radius: 100%;
            display: inline;
        }
    
    h2 {
        text-decoration: underline;
    }
        
        .skill-section {
            max-width: 500px;
            margin-left: 40%;
            margin-top: 15px;
            text-align: left;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
        }
         }
     
         /* Desktops and laptops ----------- */
         @media only screen 
         and (min-width : 1224px) {
         /* Styles */
         .summary-section {
            max-width: 500px;
            margin-left: 40%;
            margin-top: 15px;
            text-align: center;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
        }
    
        .resume-section {
            max-width: 500px;
            margin-left: 40%;
            color: rgba(32, 32, 28, 0.952);
            margin-top: 15px;
            text-align: center;
        }
        
        
        .in-line-logos {
            width: 5px;
            border-radius: 100%;
            display: inline;
            margin-top: 1%;
        }
    
        .profile-section {
            text-align: left;
            width: 450px;
            height: 568px;
            margin-left: 50px;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 5.5%;
            float: left;
        }
    
    
        #portrait-img {
            border: 0px solid #ddd;
            width: 250px;
            display: block;
        }
    
        .right-skill-section {
            display: inline;
        }
    
        .left-skill-section {
            display: inline;
        }
    
        body > main > div.profile-section > div > a:nth-child(1) > img {
            width: 50px;
            border-radius: 100%;
            display: inline;
        }
    
        body > main > div.profile-section > div > a:nth-child(2) > img {
            width: 50px;
            border-radius: 100%;
            display: inline;
        }
    
        body > main > div.profile-section > div > a:nth-child(3) > img {
            width: 50px;
            border-radius: 100%;
            display: inline;
        }
    
        .work-experience-section > h2 {
            text-align: center;
            text-decoration: underline;
        }
    
        .work-experience-section > hr {
            color: black;
            border-radius: .05%;
            border-color: black;
        }

        .work-experience-section {
            max-width: 700px;
            margin-left: 35%;
            margin-top: 15px;
            text-align: left;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
        }
        
        .skill-section {
            max-width: 500px;
            margin-left: 40%;
            margin-top: 15px;
            text-align: center;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
        }
     /* Styles */
     }
 
     /* Tablet (landscape) ----------- */
     @media only screen 
     and (min-device-width : 768px) 
     and (max-device-width : 1024px) 
     and (orientation : landscape) {
     /* Styles */
     body > main > div.portrait-section > img[id='portrait-img'] {
        width: 5%;
        height: 5%;
}
     }
 
     /* Tablet (portrait) ----------- */
     @media only screen 
     and (min-device-width : 768px) 
     and (max-device-width : 1024px) 
     and (orientation : portrait) {
     /* Styles */
     body > main > div.portrait-section > img[id='portrait-img'] {
        width: 5%;
        height: 5%;
}
     }
 
     /* Desktops and laptops ----------- */
     @media only screen 
     and (min-width : 1224px) {
     /* Styles */
     .summary-section {
        max-width: 500px;
        margin-left: 40%;
        margin-top: 15px;
        text-align: center;
        background-color: #eab5c9;
        border-radius: 25px;
        padding: 1.5%;
    }

    .resume-section {
        max-width: 1000px;
        margin-left: 30%;
        color: rgba(32, 32, 28, 0.952);
        margin-top: 15px;
        text-align: center;
    }
    
    
    .in-line-logos {
        width: 5px;
        border-radius: 100%;
        display: inline;
        margin-top: 1%;
    }

    .profile-section {
        text-align: left;
        width: 450px;
        height: 568px;
        margin-left: 50px;
        background-color: #eab5c9;
        border-radius: 25px;
        padding: 5.5%;
        float: left;
    }
    footer {
        margin-top: auto;
            
    }


    #portrait-img {
        border: 0px solid #ddd;
        width: 350px;
        display: block;
    }

    .right-skill-section {
        display: inline;
    }

    .left-skill-section {
        display: inline;
    }

    body > main > div.profile-section > div > a:nth-child(1) > img {
        width: 50px;
        border-radius: 100%;
        display: inline;
    }

    body > main > div.profile-section > div > a:nth-child(2) > img {
        width: 50px;
        border-radius: 100%;
        display: inline;
    }

    body > main > div.profile-section > div > a:nth-child(3) > img {
        width: 50px;
        border-radius: 100%;
        display: inline;
    }

    .education-section {
        max-width: 500px;
        margin-left: 40%;
        margin-top: 15px;
        text-align: center;
        background-color: #eab5c9;
        border-radius: 25px;
        padding: 1.5%;
    }

    .left-skill-section {
        text-align: left;
    }
    .right-skill-section {
        text-align: right;
    }

    .left-skill-section > ul {
        text-align: left;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline;
    }

    .right-skill-section > ul {
        text-align: right;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline;
    }

    
    .skill-section {
        max-width: 500px;
        margin-left: 40%;
        margin-top: 15px;
        background-color: #eab5c9;
        border-radius: 25px;
        padding: 1.5%;
        border-color: black;
        border-width: 5px;
    }

     }
 
     /* Large screens ----------- */
     @media only screen 
     and (min-width : 1824px) {
        .gradient {
            --size: 500px;
          }
        .summary-section {
            max-width: 500px;
            margin-left: 40%;
            margin-top: 15px;
            text-align: center;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
            
        }
        .right-skill-section {
            display: inline;
        }
    
        .left-skill-section {
            display: inline;
        }
        .skill-section {
            max-width: 500px;
            margin-left: 40%;
            margin-top: 15px;
            text-align: center;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
            border-color: black;
            border-width: 5px;
        }

        .education-section {
            max-width: 500px;
            margin-left: 40%;
            margin-top: 15px;
            text-align: center;
            background-color: #eab5c9;
            border-radius: 25px;
            padding: 1.5%;
        }


        #portrait-img {
            border: 0px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 450px;
            text-align: center;
        }



        .profile-section {
            max-width: 30%;
            float: left;
            background-color: #eab5c9;
            padding: 0.25%;
        }

        .in-line-logos {
            height: 5px;
            width: 5px;
            display: inline;
            margin-top: 1%;
        }
        footer {
            margin-top: auto;
                
        }

     /* Styles */
     }